.modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 100%;
  max-width: 300px;
  border-radius: 0.3rem;
  background-color: var(--very-light-gray);
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: 0.3s all;
  opacity: 1;
}
.false {
  opacity: 0;
}
.modal__container {
  position: relative;
  display: grid;
  grid-template-columns: 20% 75%;
  gap: 5%;
  place-items: center;
  place-content: center;
  padding: 1.5rem 1rem;
}
.modal__counter {
  width: 100%;
  transition: 0.1s;
  transition-timing-function: linear;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}
.title {
  font: normal normal 600 1rem/1rem var(--font);
  color: var(--very-dark-grayish-blue);
}
.text {
  font: normal normal 400 0.8rem/1rem var(--font);
  color: var(--very-dark-grayish-blue);
}
.icon {
  display: grid;
  place-items: center;
  place-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.dark {
  background-color: var(--very-dark-desaturated-blue);
}
.dark .title {
  color: var(--very-light-gray);
}
.dark .text {
  color: var(--dark-grayish-blue);
}
