.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0rem;
  padding: 4rem 0 4rem 0;
}
.nav a{
  letter-spacing: 0.4em;
  color: var(--very-light-gray);
  font: normal normal 700 2.3rem/2.5rem var(--font);
  text-decoration: none;
}
.nav button{
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 15rem;
}